Repository airshipit/armada: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-armada-ubuntu, airship-armada-lint-pep8

airship-armada-ubuntu:
  parent: airship-armada
  nodeset: openstack-helm-single-node
  voting: false

airship-armada-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/gate/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-armada-single-node

Remove validate_manifest_filepath
  armada/tests/unit/utils/test_validate.py
  armada/utils/validate.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add irrelevant-files to all appropriate .zuul.yaml jobs
  .zuul.yaml
Due: airship-armada-ubuntu

Add command to rollback release to CLI and API
  armada/api/controller/rollback.py
  armada/api/server.py
  armada/cli/rollback.py
  armada/common/client.py
  armada/common/policies/service.py
  armada/exceptions/tiller_exceptions.py
  armada/handlers/armada.py
  armada/handlers/tiller.py
  armada/shell.py
  armada/tests/unit/api/test_rollback_controller.py
  armada/tests/unit/fake_policy.py
  armada/tests/unit/handlers/test_tiller.py
  charts/armada/values.yaml
  doc/source/commands/index.rst
  doc/source/commands/rollback.rst
  doc/source/operations/guide-api.rst
  doc/source/operations/guide-use-armada.rst
  etc/armada/policy.yaml
  swagger/swaggerV2-api.yaml
  swagger/swaggerV3-api.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Successfuly spelling error
  doc/source/operations/guide-api.rst
Due: none

(zuul) Add docker image publishing
  .zuul.yaml
  tools/gate/playbooks/docker-image-build.yaml
  tools/image_tags.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

fix(coverage): add coverage rc file
  .coveragerc
  .stestr.conf
  test-requirements.txt
  tox.ini
Due: airship-armada-ubuntu

Docker: support build behind proxy
  Makefile
Due: airship-armada-ubuntu

Use stestr as the test runner for unit tests
  test-requirements.txt
  tools/run-unit-tests.sh
  tox.ini
Due: airship-armada-ubuntu

fix tox python3 overrides
  tox.ini
Due: airship-armada-ubuntu

[test] Increase armada.handlers.armada test coverage
  armada/tests/unit/base.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/utils/test_source.py
  armada/tests/unit/utils/test_validate.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Remove api guide in favor of swagger Docs
  doc/source/operations/guide-api.rst
  doc/source/operations/index.rst
Due: none

Fix to pass a manifest file to the armada server
  armada/cli/apply.py
  armada/common/client.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add missing Keystone options to registration of config
  armada/conf/default.py
  armada/utils/keystone.py
  etc/armada/armada.conf.sample
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Expose helm's upgrade/rollback force and recreate pods flags
  armada/api/controller/rollback.py
  armada/cli/rollback.py
  armada/handlers/armada.py
  armada/handlers/tiller.py
  armada/schemas/armada-chart-schema.yaml
  armada/tests/unit/api/test_rollback_controller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_tiller.py
  swagger/swaggerV2-api.yaml
  swagger/swaggerV3-api.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add .stestr and cover to .gitignore
  .gitignore
Due: airship-armada-ubuntu

Remove duplicate option certfile from Armada config
  armada/conf/default.py
  armada/tests/unit/api/test_api_initialization.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

chore(tox): update tox.ini
  tox.ini
Due: airship-armada-ubuntu

chore(gate): remove redundant job
  .zuul.yaml
  tools/gate/playbooks/unit-py35.yaml
Due: airship-armada-ubuntu

Fix release name bug
  armada/api/controller/test.py
  armada/cli/apply.py
  armada/cli/delete.py
  armada/cli/test.py
  armada/handlers/armada.py
  armada/handlers/tiller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/utils/test_release.py
  armada/utils/release.py
  doc/source/commands/apply.rst
  doc/source/operations/guide-build-armada-yaml.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Implement `protected` parameter
  armada/cli/apply.py
  armada/exceptions/armada_exceptions.py
  armada/handlers/armada.py
  armada/handlers/tiller.py
  armada/schemas/armada-chart-schema.yaml
  armada/tests/unit/handlers/test_armada.py
  doc/source/operations/exceptions/armada-exceptions.inc
  doc/source/operations/guide-build-armada-yaml.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

chore(rtd): add a rtd publish trigger
  .zuul.yaml
  tools/gate/playbooks/rtd-build-trigger.yaml
Due: airship-armada-ubuntu

fix(gate): update .zuul.yaml
  .zuul.yaml
Due: airship-armada-ubuntu

Fix and overhaul helm test integration
  armada/api/controller/test.py
  armada/cli/test.py
  armada/exceptions/tiller_exceptions.py
  armada/handlers/armada.py
  armada/handlers/test.py
  armada/handlers/tiller.py
  armada/tests/test_utils.py
  armada/tests/unit/api/test_test_controller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_test.py
  armada/tests/unit/handlers/test_tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Unifying proxy variables for tox and docker build
  Makefile
Due: airship-armada-ubuntu

Add Pod Labels for Tiller
  charts/tiller/templates/tiller-service.yaml
Due: airship-armada-ubuntu

chore(docstring): Fix up improper sphinx syntax in docstrings
  armada/handlers/k8s.py
  armada/handlers/tiller.py
  armada/tests/unit/fixtures.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Updated and Fixed Tiller Labels
  charts/tiller/templates/deployment-tiller.yaml
  charts/tiller/templates/tiller-service.yaml
Due: airship-armada-ubuntu

Manage temp dirs from git clone.
  armada/handlers/armada.py
  armada/tests/unit/utils/test_source.py
  armada/utils/source.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Update tiller Labels
  charts/tiller/templates/tiller-service.yaml
Due: airship-armada-ubuntu

Add py36 testenv
  tox.ini
Due: airship-armada-ubuntu

Change chart `test` key to object and support cleanup flag
  armada/api/controller/test.py
  armada/cli/test.py
  armada/handlers/armada.py
  armada/handlers/test.py
  armada/handlers/tiller.py
  armada/schemas/armada-chart-schema.yaml
  armada/tests/unit/api/test_test_controller.py
  armada/tests/unit/handlers/test_armada.py
  doc/source/operations/guide-build-armada-yaml.rst
  examples/keystone-manifest.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

refactor(gate): refactor rtd trigger
  .zuul.yaml
  tools/gate/playbooks/readthedocs.yaml
Due: airship-armada-ubuntu

Changing default timeout from 3600 to 900 seconds, when timeout is unspecified.
  armada/const.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Job fix: update osh-infra-deploy-docker.yaml to align with osh
  tools/gate/playbooks/osh-infra-deploy-docker.yaml
Due: airship-armada-ubuntu

Add test pods labels.
  charts/armada/templates/tests/test-armada-api.yaml
Due: airship-armada-ubuntu

Ensure SSH git clone doesn't prompt for user
  armada/utils/source.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Allow wait labels without timeout
  armada/handlers/armada.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

feat(tls): add tls support for Armada
  charts/armada/templates/secret-ingress-tls.yaml
  charts/armada/values.yaml
Due: airship-armada-ubuntu

Run helm tests by default
  armada/handlers/armada.py
  armada/schemas/armada-chart-schema.yaml
  armada/schemas/armada-chartgroup-schema.yaml
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/resources/keystone-manifest.yaml
  armada/tests/unit/resources/valid_armada_document.yaml
  doc/source/operations/guide-build-armada-yaml.rst
  examples/keystone-manifest.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Path conditions:
  airship-armada-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  airship-armada-lint-pep8: any of: ^.*\.py$
