Repository airshipit/armada: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-armada-ubuntu, airship-armada-lint-pep8

Path conditions:
  airship-armada-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^armada/tests/unit/.*$
  airship-armada-lint-pep8: any of: ^.*\.py$

Update Dockerfile to allow override of FROM variable
  Dockerfile
  Makefile
  tools/gate/playbooks/docker-image-build.yaml
  tools/gate/playbooks/files/docker-systemd.conf
  tools/gate/playbooks/vars.yaml
Due: airship-armada-ubuntu

Removing dead code.
  armada/exceptions/tiller_exceptions.py
  armada/handlers/k8s.py
  armada/handlers/tiller.py
  armada/tests/unit/handlers/test_tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Update Helm version
  armada/handlers/tiller.py
  charts/tiller/values.yaml
  hapi/chart/metadata_pb2.py
  hapi/release/hook_pb2.py
  requirements.txt
  tools/helm-hapi.sh
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Wait for jobs to complete
  armada/handlers/k8s.py
  armada/handlers/tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Updating outdated URLs to 'airshipit'.
  doc/source/commands/apply.rst
  doc/source/development/getting-started.rst
  doc/source/operations/documents.rst
  doc/source/operations/guide-build-armada-yaml.rst
  doc/source/operations/guide-troubleshooting.rst
  doc/source/operations/guide-use-armada.rst
Due: none

armada delete --manifest failed
  armada/cli/delete.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Set timeout without wait
  armada/handlers/armada.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

armada Remove duplicate validation calls during an armada apply
  armada/handlers/armada.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Updating readthedocs to airship-armada
  README.rst
  armada/cli/apply.py
  charts/armada/Chart.yaml
  setup.cfg
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Updating Quay Namespace to airshipit
  Makefile
  README.rst
  charts/armada/values.yaml
  controller.sh
Due: airship-armada-ubuntu

chore(py3): update tox targets
  tox.ini
Due: airship-armada-ubuntu

Validation refactor
  armada/handlers/armada.py
  armada/handlers/override.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_override.py
  armada/utils/validate.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Move to semantic diffing of charts
  armada/exceptions/armada_exceptions.py
  armada/handlers/armada.py
  armada/tests/unit/handlers/test_armada.py
  requirements.txt
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add global PEP8/Bandit zuul job
  .zuul.yaml
Due: airship-armada-ubuntu

Fix to override '=' string
  armada/handlers/override.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Release diffing: split out, add unit tests, include name
  armada/handlers/armada.py
  armada/handlers/release_diff.py
  armada/tests/unit/handlers/test_release_diff.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

fix(chart): Update Keystone API ports
  charts/armada/values.yaml
Due: airship-armada-ubuntu

Add venv tox environment
  tox.ini
Due: airship-armada-ubuntu

Move to tiller v2.10.0
  armada/handlers/tiller.py
  charts/tiller/values.yaml
  hapi/release/hook_pb2.py
  hapi/services/tiller_pb2.py
  tools/helm-hapi.sh
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Pin yapf version
  test-requirements.txt
  tox.ini
Due: airship-armada-ubuntu

Correct docs-on-readthedocs to work with RTD publish
  .zuul.yaml
Due: airship-armada-ubuntu

Fix for yapf v0.24.0
  armada/cli/rollback.py
  armada/handlers/chartbuilder.py
  armada/tests/unit/handlers/test_armada.py
  test-requirements.txt
  tox.ini
Due: airship-armada-ubuntu, airship-armada-lint-pep8

fix(indent): correct values.yaml
  charts/armada/values.yaml
Due: airship-armada-ubuntu

Fix for get manifest
  armada/exceptions/__init__.py
  armada/exceptions/manifest_exceptions.py
  armada/handlers/manifest.py
  armada/tests/unit/api/test_test_controller.py
  armada/tests/unit/handlers/test_manifest.py
  armada/tests/unit/resources/keystone-manifest.yaml
  armada/utils/validate.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add release uuid to pods and rc objects
  charts/armada/templates/deployment-api.yaml
  charts/armada/templates/tests/test-armada-api.yaml
  charts/tiller/templates/deployment-tiller.yaml
Due: airship-armada-ubuntu

Fix: git commit id labels on images
  Dockerfile
  Makefile
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-armada-ubuntu

add python 3.6 unit test job
  .zuul.yaml
Due: airship-armada-ubuntu

fix: Armada exceptions documentation incorrectly rendering
  doc/source/operations/exceptions/api-exceptions.inc
  doc/source/operations/exceptions/armada-exceptions.inc
  doc/source/operations/exceptions/base-exceptions.inc
  doc/source/operations/exceptions/chartbuilder-exceptions.inc
  doc/source/operations/exceptions/k8s-exceptions.inc
  doc/source/operations/exceptions/manifest-exceptions.inc
  doc/source/operations/exceptions/override-exceptions.inc
  doc/source/operations/exceptions/source-exceptions.inc
  doc/source/operations/exceptions/tiller-exceptions.inc
  doc/source/operations/exceptions/validate-exceptions.inc
Due: none

Fix: various documentation and URL fixes
  README.rst
  armada/common/client.py
  armada/handlers/document.py
  armada/utils/validation_message.py
  charts/armada/Chart.yaml
  doc/source/commands/apply.rst
  doc/source/operations/documents.rst
  doc/source/operations/guide-troubleshooting.rst
  doc/source/operations/guide-use-armada.rst
  setup.cfg
  tools/gate/playbooks/readthedocs.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Unify publishing of docs
  Makefile
  tools/gate/playbooks/readthedocs.yaml
Due: airship-armada-ubuntu

Minor: drop AT&T from authors
  setup.cfg
Due: none

Clean up and refactor wait logic
  armada/exceptions/armada_exceptions.py
  armada/handlers/armada.py
  armada/handlers/k8s.py
  armada/handlers/tiller.py
  armada/handlers/wait.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Remove unused service from tiller chart
  charts/tiller/templates/tiller-service.yaml
Due: airship-armada-ubuntu

trivial: Fix README documentation badge
  README.rst
Due: none

Parallelize unsequenced chart group deployments
  armada/conf/__init__.py
  armada/exceptions/armada_exceptions.py
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/schemas/armada-chart-schema.yaml
  armada/tests/test_utils.py
  armada/tests/unit/handlers/test_armada.py
  doc/source/operations/guide-build-armada-yaml.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add chart API to wait on k8s resource types/labels
  armada/api/controller/armada.py
  armada/cli/apply.py
  armada/exceptions/armada_exceptions.py
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/wait.py
  armada/schemas/armada-chart-schema.yaml
  armada/tests/unit/handlers/test_wait.py
  doc/source/operations/exceptions/armada-exceptions.inc
  doc/source/operations/guide-build-armada-yaml.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

api: Replace conflicting environment variable
  charts/armada/values.yaml
  entrypoint.sh
Due: airship-armada-ubuntu

api: Update entrypoint script with proper quotes
  entrypoint.sh
Due: airship-armada-ubuntu

fix: Fix controller enforcing a nonexistent policy
  armada/api/controller/test.py
  armada/tests/unit/api/test_test_controller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Use paging to list releases from tiller
  armada/exceptions/tiller_exceptions.py
  armada/handlers/tiller.py
  armada/tests/unit/handlers/test_tiller.py
  doc/source/operations/exceptions/tiller-exceptions.inc
Due: airship-armada-ubuntu, airship-armada-lint-pep8
