Repository airshipit/armada: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-armada-ubuntu, airship-armada-lint-pep8

airship-armada-ubuntu:
  parent: airship-armada
  nodeset: openstack-helm-single-node
  voting: false

airship-armada-lint-pep8:
  description: 'Lints Python files against the PEP8 standard
  
    '
  run: tools/gate/playbooks/pep8-linter.yaml
  timeout: 300
  nodeset: airship-armada-single-node

Introduce v2 docs
  armada/api/controller/test.py
  armada/cli/delete.py
  armada/cli/test.py
  armada/conf/__init__.py
  armada/const.py
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/chartbuilder.py
  armada/handlers/manifest.py
  armada/handlers/override.py
  armada/handlers/schema.py
  armada/handlers/test.py
  armada/handlers/tiller.py
  armada/schemas/armada-chart-schema-v1.yaml
  armada/schemas/armada-chart-schema-v2.yaml
  armada/schemas/armada-chartgroup-schema-v1.yaml
  armada/schemas/armada-chartgroup-schema-v2.yaml
  armada/schemas/armada-manifest-schema-v1.yaml
  armada/schemas/armada-manifest-schema-v2.yaml
  armada/tests/unit/api/test_test_controller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_chartbuilder.py
  armada/tests/unit/handlers/test_manifest.py
  armada/tests/unit/handlers/test_override.py
  armada/tests/unit/utils/schema.py
  armada/tests/unit/utils/test_validate.py
  armada/utils/validate.py
  doc/source/operations/documents/index.rst
  doc/source/operations/documents/migration-v1-v2.rst
  doc/source/operations/documents/v1/document-authoring.rst
  doc/source/operations/documents/v1/index.rst
  doc/source/operations/documents/v1/schemas.rst
  doc/source/operations/documents/v2/document-authoring.rst
  doc/source/operations/documents/v2/index.rst
  doc/source/operations/documents/v2/schemas.rst
  doc/source/operations/guide-use-armada.rst
  doc/source/operations/index.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy.yaml
  tools/gate/playbooks/airskiff-reduce-site.yaml
  tools/gate/playbooks/debug-report.yaml
  tools/gate/playbooks/git-config.yaml
Due: airship-armada-ubuntu

CI: Update jobs for OpenDev
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy.yaml
Due: airship-armada-ubuntu

[v2 docs] Move `upgrade.no_hooks` to `upgrade.options.no_hooks`
  armada/handlers/chart_deploy.py
  armada/schemas/armada-chart-schema-v2.yaml
  doc/source/operations/documents/migration-v1-v2.rst
  doc/source/operations/documents/v2/document-authoring.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Support armada to run on opensuse image leap15
  .zuul.yaml
  Makefile
  README.rst
  doc/source/development/getting-started.rst
  doc/source/operations/guide-use-armada.rst
  images/armada/Dockerfile.opensuse_15
  images/armada/Dockerfile.ubuntu_bionic
  tools/gate/playbooks/docker-image-build.yaml
Due: airship-armada-ubuntu

docs: List default test timeout value
  doc/source/operations/documents/v1/document-authoring.rst
  doc/source/operations/documents/v2/document-authoring.rst
Due: none

Fix bandit errors
  tox.ini
Due: airship-armada-ubuntu

[v2 docs] Overhaul wait API
  armada/handlers/chart_deploy.py
  armada/handlers/wait.py
  armada/schemas/armada-chart-schema-v2.yaml
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_wait.py
  doc/source/operations/documents/migration-v1-v2.rst
  doc/source/operations/documents/v2/document-authoring.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Fixing secret name used for publishing image on quay.io
  .zuul.yaml
Due: airship-armada-ubuntu

Fix rtd publishing
  .zuul.yaml
Due: airship-armada-ubuntu

Move to helm 2.14
  armada/handlers/tiller.py
  charts/armada/values.yaml
  charts/tiller/values.yaml
  hapi/services/tiller_pb2.py
  tools/helm-hapi.sh
  tools/helm_install.sh
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add Zuul job for mirroring to GitHub
  .zuul.yaml
Due: airship-armada-ubuntu

Encrypt git mirroring ssh_key to specific project
  .zuul.yaml
Due: airship-armada-ubuntu

Implement Security Context for Armada
  charts/armada/templates/deployment-api.yaml
  charts/armada/values.yaml
Due: airship-armada-ubuntu

Add ubuntu_xenial image build to Armada
  .zuul.yaml
  images/armada/Dockerfile.ubuntu_xenial
Due: airship-armada-ubuntu

Correct Armada github sync key
  .zuul.yaml
Due: airship-armada-ubuntu

Revert "Move to helm 2.14"
  armada/handlers/tiller.py
  charts/armada/values.yaml
  charts/tiller/values.yaml
  hapi/services/tiller_pb2.py
  tools/helm-hapi.sh
  tools/helm_install.sh
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Remove required-projects from Airskiff gate
  .zuul.yaml
  tools/gate/playbooks/airskiff-deploy.yaml
Due: airship-armada-ubuntu

Fix unauthenticated requests to create locks
  armada/handlers/lock.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Prevent tiller from leaving releases in pending status
  charts/armada/templates/deployment-api.yaml
  charts/armada/values.yaml
  charts/tiller/templates/deployment-tiller.yaml
  charts/tiller/values.yaml
Due: airship-armada-ubuntu

Add node selector to test pod and standalone tiller
  charts/armada/templates/tests/test-armada-api.yaml
  charts/armada/values.yaml
  charts/tiller/templates/deployment-tiller.yaml
  charts/tiller/values.yaml
Due: airship-armada-ubuntu

Add release uuid annotation to POD spec
  charts/armada/templates/deployment-api.yaml
  charts/tiller/templates/deployment-tiller.yaml
Due: airship-armada-ubuntu

Fix statefulset wait null pointer scenario
  armada/handlers/wait.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Update base image from leap15.0 to leap15.1
  doc/source/development/getting-started.rst
  images/armada/Dockerfile.opensuse_15
Due: airship-armada-ubuntu

fix: improve error message when user passes in only api and url
  armada/shell.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Change various URLs for the OpenDev migration
  README.rst
  armada/tests/unit/base.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_chartbuilder.py
  armada/tests/unit/utils/test_source.py
  armada/tests/unit/utils/test_validate.py
  charts/armada/Chart.yaml
  doc/source/development/getting-started.rst
  doc/source/operations/documents/v1/document-authoring.rst
  doc/source/operations/documents/v2/document-authoring.rst
  doc/source/operations/guide-helm-plugin.rst
  doc/source/operations/guide-troubleshooting.rst
  doc/source/operations/guide-use-armada.rst
  examples/tar_example.yaml
  swagger/swaggerV2-api.yaml
  swagger/swaggerV3-api.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Fix --enable-chart-cleanup option
  armada/handlers/armada.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Temporarily disable voting for opensuse image build
  .zuul.yaml
Due: airship-armada-ubuntu

Implement Prometheus metric integration
  README.rst
  armada/api/controller/metrics.py
  armada/api/server.py
  armada/cli/apply.py
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/metrics.py
  armada/tests/unit/handlers/test_armada.py
  charts/armada/templates/deployment-api.yaml
  charts/armada/values.yaml
  doc/source/commands/apply.rst
  doc/source/operations/index.rst
  doc/source/operations/metrics.rst
  entrypoint.sh
  requirements.txt
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Updating pip reference to pip3 for upgrade
  images/armada/Dockerfile.opensuse_15
Due: airship-armada-ubuntu

Removing flag added to opensuse gate job to make it non-voting
  .zuul.yaml
Due: airship-armada-ubuntu

Don't log metrics HTTP data
  armada/api/__init__.py
  armada/api/middleware.py
  armada/api/server.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

CI: Update Airskiff full-site manifest location
  tools/gate/playbooks/airskiff-reduce-site.yaml
Due: airship-armada-ubuntu

Support builtin chart dependencies
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/chartbuilder.py
  armada/schemas/armada-chart-schema-v1.yaml
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_chartbuilder.py
  doc/source/operations/documents/migration-v1-v2.rst
  doc/source/operations/documents/v1/document-authoring.rst
  doc/source/operations/documents/v2/document-authoring.rst
  examples/keystone-manifest.yaml
  examples/simple.yaml
  examples/tar_example.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Fix: Armada Exceptions docs rendering on RTD
  .readthedocs.yaml
  Makefile
  doc/source/development/getting-started.rst
  doc/source/operations/documents/v2/document-authoring.rst
  doc/source/operations/exceptions/api-exceptions.inc
  doc/source/operations/exceptions/armada-exceptions.inc
  doc/source/operations/exceptions/base-exceptions.inc
  doc/source/operations/exceptions/chartbuilder-exceptions.inc
  doc/source/operations/exceptions/k8s-exceptions.inc
  doc/source/operations/exceptions/manifest-exceptions.inc
  doc/source/operations/exceptions/override-exceptions.inc
  doc/source/operations/exceptions/source-exceptions.inc
  doc/source/operations/exceptions/tiller-exceptions.inc
  doc/source/operations/exceptions/validate-exceptions.inc
  doc/source/operations/guide-use-armada.rst
  images/armada/Dockerfile.opensuse_15
  images/armada/Dockerfile.ubuntu_bionic
  images/armada/Dockerfile.ubuntu_xenial
Due: airship-armada-ubuntu

Fix release_uuid annotations
  charts/armada/templates/deployment-api.yaml
  charts/tiller/templates/deployment-tiller.yaml
Due: airship-armada-ubuntu

handlers: Remove dry-run functionality
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/tiller.py
  armada/tests/unit/handlers/test_tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

api: Remove dry-run parameter
  armada/api/__init__.py
  armada/api/controller/armada.py
  armada/api/controller/rollback.py
  armada/tests/unit/api/test_armada_controller.py
  armada/tests/unit/api/test_rollback_controller.py
  armada/tests/unit/api/test_tiller_controller.py
  swagger/swaggerV2-api.yaml
  swagger/swaggerV3-api.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

cli: Remove dry-run flag
  armada/cli/apply.py
  armada/cli/rollback.py
  doc/source/commands/apply.rst
  doc/source/commands/rollback.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Path conditions:
  airship-armada-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^armada/tests/unit/.*$
  airship-armada-lint-pep8: any of: ^.*\.py$
