Repository airshipit/armada: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-armada-ubuntu, airship-armada-lint-pep8

Path conditions:
  airship-armada-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^armada/tests/unit/.*$
  airship-armada-lint-pep8: any of: ^.*\.py$

Merge disparate base exception classes/logic together
  armada/errors.py
  armada/exceptions/base_exception.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add default error handler and serializer
  armada/api/server.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

chore: Combine pep8 with whitespace linter
  .zuul.yaml
  tools/gate/playbooks/zuul-linter.yaml
  tools/whitespace-linter.sh
  tox.ini
Due: airship-armada-ubuntu

Fix log message formatting error
  armada/handlers/wait.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

fix: Use superior oslo.policy authorize over enforce
  armada/common/policy.py
  armada/tests/unit/common/__init__.py
  armada/tests/unit/common/test_policy.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

trivial: Drop empty dir armada/tests/unit/cli.py
  armada/tests/unit/cli/__init__.py
Due: airship-armada-lint-pep8

Fix list releases paging
  armada/handlers/tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add viewer rule to armada API
  armada/common/policies/base.py
  armada/common/policies/service.py
  armada/common/policies/tiller.py
  charts/armada/values.yaml
  etc/armada/policy.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Remove redundant pep8 job from .zuul.yaml
  .zuul.yaml
  tools/gate/playbooks/pep8-linter.yaml
Due: airship-armada-ubuntu

Avoid bug in tiller when both sorting and paging releases
  armada/handlers/tiller.py
  armada/tests/unit/handlers/test_tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Correctly identify latest release
  armada/const.py
  armada/exceptions/armada_exceptions.py
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/tiller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_tiller.py
  armada/utils/release.py
  doc/source/operations/exceptions/armada-exceptions.inc
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Making Python version uniform across all airship components.
  Dockerfile
  Makefile
  setup.cfg
Due: airship-armada-ubuntu

Fix: adding back the possibility to add arbitrary labels
  Makefile
Due: airship-armada-ubuntu

Fix existing release / upgrade logging
  armada/handlers/chart_deploy.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Fix Flake8 3.6.0 errors
  armada/common/policy.py
  armada/handlers/document.py
  armada/handlers/wait.py
  armada/tests/unit/handlers/test_chartbuilder.py
  armada/tests/unit/handlers/test_override.py
  tox.ini
Due: airship-armada-ubuntu, airship-armada-lint-pep8

chore: Move openstack tox cover job to Armada
  .zuul.yaml
Due: airship-armada-ubuntu

Reuse .gitignore in whitespace linter
  tools/whitespace-linter.sh
Due: airship-armada-ubuntu

Fix noqa
  armada/handlers/document.py
  armada/tests/unit/handlers/test_chartbuilder.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add caching and cleanup of chart tarballs
  armada/handlers/armada.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/utils/test_source.py
  armada/utils/source.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Run wait/test even if chart not updated
  armada/handlers/chart_deploy.py
  armada/handlers/test.py
  armada/tests/unit/handlers/test_armada.py
  armada/utils/release.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Don't swallow exceptions when doing tiller actions
  armada/handlers/tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

wait: Remove test pods from wait
  armada/const.py
  armada/handlers/wait.py
  armada/tests/unit/handlers/test_wait.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Implement tiller gRPC channel clean up
  armada/api/__init__.py
  armada/api/controller/armada.py
  armada/api/controller/rollback.py
  armada/api/controller/test.py
  armada/api/controller/tiller.py
  armada/api/server.py
  armada/cli/apply.py
  armada/cli/delete.py
  armada/cli/rollback.py
  armada/cli/test.py
  armada/cli/tiller.py
  armada/exceptions/base_exception.py
  armada/handlers/armada.py
  armada/handlers/tiller.py
  armada/tests/unit/api/test_armada_controller.py
  armada/tests/unit/api/test_rollback_controller.py
  armada/tests/unit/api/test_test_controller.py
  armada/tests/unit/api/test_tiller_controller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_tiller.py
  hapi/chart/chart_pb2.py
  hapi/chart/config_pb2.py
  hapi/chart/metadata_pb2.py
  hapi/chart/template_pb2.py
  hapi/release/hook_pb2.py
  hapi/release/info_pb2.py
  hapi/release/release_pb2.py
  hapi/release/status_pb2.py
  hapi/release/test_run_pb2.py
  hapi/release/test_suite_pb2.py
  hapi/services/tiller_pb2.py
  hapi/version/version_pb2.py
  requirements.txt
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add warnings for post upgrade actions
  armada/handlers/chart_deploy.py
  armada/schemas/armada-chart-schema.yaml
  doc/source/operations/guide-build-armada-yaml.rst
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Create Makefile target to install Helm binary
  Makefile
  tools/helm_install.sh
  tools/helm_tk.sh
Due: airship-armada-ubuntu

tiller: Remove unused params from delete_resources
  armada/handlers/tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Log full exception chain of chart deploy exceptions
  armada/handlers/armada.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Workaround kubernetes python client deadlock issue
  armada/handlers/k8s.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

test: Refactor test handler
  armada/api/controller/test.py
  armada/cli/test.py
  armada/handlers/armada.py
  armada/handlers/chart_deploy.py
  armada/handlers/test.py
  armada/tests/unit/api/test_test_controller.py
  armada/tests/unit/handlers/test_armada.py
  armada/tests/unit/handlers/test_test.py
  armada/utils/release.py
  doc/source/commands/test.rst
  swagger/swaggerV3-api.yaml
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Update manifest named keystone-manifest
  examples/keystone-manifest.yaml
Due: airship-armada-ubuntu

Add chart about rabbitmq and remove timeout from example
  examples/keystone-manifest.yaml
  examples/tar_example.yaml
Due: airship-armada-ubuntu

Fix the description about `armada tiller --status`
  armada/cli/tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Fix the misspelling of "except"
  armada/handlers/tiller.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Adding filename to logging message format for troubleshooting purpose
  tools/image_tags.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Move to tiller 2.12.1
  armada/handlers/tiller.py
  hapi/services/tiller_pb2.py
  tools/helm-hapi.sh
Due: airship-armada-ubuntu, airship-armada-lint-pep8

CI: Remove OpenStack-Helm-Infra CI job
  .zuul.yaml
  tools/gate/playbooks/airship-armada-check.yaml
  tools/gate/playbooks/osh-infra-build.yaml
  tools/gate/playbooks/osh-infra-collect-logs.yaml
  tools/gate/playbooks/osh-infra-deploy-docker.yaml
  tools/gate/playbooks/osh-infra-deploy-k8s.yaml
  tools/gate/playbooks/osh-infra-upgrade-host.yaml
  tools/gate/scripts/010-build-charts.sh
Due: airship-armada-ubuntu

bugfix: Looking in wrong place for upgrade options
  armada/handlers/chart_deploy.py
  armada/tests/unit/handlers/test_armada.py
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Remediate releases stuck in non-DEPLOYED statuses
  armada/exceptions/armada_exceptions.py
  armada/handlers/chart_deploy.py
  armada/utils/release.py
  doc/source/operations/exceptions/armada-exceptions.inc
Due: airship-armada-ubuntu, airship-armada-lint-pep8

Add airship-discuss@lists.airshipit.org
  setup.cfg
Due: none
